body { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    flex-direction: column;
    height: 100vh;
    /* width: 100vw; */
}

* {
    padding: 0;
    margin: 0;
    line-height: 2;
}

#header {
    letter-spacing: 0.06em;
    font-size: 4em;
    /* line-height: 2; */
}

#add-courses {
    font-size: 1.4em;
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
    background-color: black;
    /* align-self:flex-end; */
}

.add-courses:active {
    opacity: 0.8;
}

